SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContasBancarias]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ContasBancarias](
	[CodigoConta] [int] IDENTITY(1,1) NOT NULL,
	[Conta] [varchar](10) NULL,
	[Agencia] [varchar](10) NULL,
	[UltimoCheque] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cheques]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Cheques](
	[CodigoCheque] [int] IDENTITY(1,1) NOT NULL,
	[NumeroCheque] [varchar](10) NULL,
	[Impresso] [bit] NULL,
	[Cancelado] [bit] NULL,
	[Nominativo] [varchar](50) NULL,
	[DataEmissao] [datetime] NULL,
	[DataCancelamento] [datetime] NULL,
	[ValorCheque] [decimal](10, 2) NULL,
	[CodigoConta] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MovimentoCaixa]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MovimentoCaixa](
	[Lancamento] [int] IDENTITY(1,1) NOT NULL,
	[DataPagamento] [datetime] NULL,
	[ValorPago] [decimal](10, 2) NULL,
	[CodigoFornecedor] [int] NULL,
	[Historico] [varchar](100) NULL,
	[CodigoConta] [int] NULL,
	[CodigoCheque] [int] NULL,
	[CodigoCAP] [int] NULL,
	[CodigoFazenda] [smallint] NULL,
	[CodigoFormaPagamento] [varchar](2) NULL,
	[TipoMovimento] [bit] NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spVerificarSenhaDoUsuario]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[spVerificarSenhaDoUsuario]
  @Senha VarChar(10),                
  @Usuario VarChar(20) Output
as
  if exists(select * from Usuarios where Senha=@Senha)
     select @Usuario=Usuario from Usuarios where Senha=@Senha
  else
     select @Usuario=''''

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaUsuarios]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaUsuarios]
as
 select 
 right(''000'' + cast(Codigo as varchar(3)),3) as Codigo,
 isnull(Usuario,'''') as NomeUsuario
 from Usuarios 
 order by Usuario
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuarios]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Usuarios](
	[Senha] [varchar](10) NULL,
	[Usuario] [varchar](20) NULL,
	[Codigo] [smallint] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Agencias]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Agencias](
	[CodigoAgencia] [smallint] IDENTITY(1,1) NOT NULL,
	[Agencia] [varchar](10) NULL,
	[CodigoBanco] [smallint] NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Titulos]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Titulos](
	[CodigoCAP] [int] IDENTITY(1,1) NOT NULL,
	[Documento] [varchar](20) NULL,
	[CodigoFornecedor] [int] NULL,
	[Vencimento] [datetime] NULL,
	[ValorOriginal] [decimal](10, 2) NULL,
	[DataPagamento] [datetime] NULL,
	[ValorPago] [decimal](10, 2) NULL,
	[Historico] [varchar](100) NULL,
	[Pago] [bit] NULL,
	[CodigoFazenda] [smallint] NULL,
	[CodigoTipoDocumento] [varchar](2) NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Fazenda]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Fazenda](
	[CodigoFazenda] [smallint] IDENTITY(1,1) NOT NULL,
	[NomeFazenda] [varchar](60) NULL,
	[Responsavel] [varchar](40) NULL,
	[CpfResponsavel] [varchar](11) NULL,
	[Endereco] [varchar](50) NULL,
	[Bairro] [varchar](40) NULL,
	[Cidade] [varchar](30) NULL,
	[UF] [char](2) NULL,
	[CEP] [char](8) NULL,
	[Inscricao] [varchar](12) NULL,
	[CaminhoRpt] [varchar](100) NULL,
	[Telefone] [varchar](15) NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Fornecedores]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Fornecedores](
	[CodigoFornecedor] [int] IDENTITY(1,1) NOT NULL,
	[NomeFornecedor] [varchar](60) NULL,
	[CNPJ] [varchar](14) NULL,
	[TipoFornecedor] [bit] NULL,
	[Endereco] [varchar](50) NULL,
	[Bairro] [varchar](40) NULL,
	[Cidade] [varchar](30) NULL,
	[UF] [char](2) NULL,
	[CEP] [char](8) NULL,
	[Email] [varchar](50) NULL,
	[Banco] [smallint] NULL,
	[Agencia] [varchar](10) NULL,
	[ContaBancaria] [varchar](10) NULL,
	[Ativo] [bit] NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TiposDocumento]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TiposDocumento](
	[Codigo] [varchar](2) NOT NULL,
	[DescricaoTipoDocumento] [varchar](30) NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FormasPagamento]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FormasPagamento](
	[Codigo] [varchar](2) NULL,
	[FormaPagamento] [varchar](40) NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Bancos]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Bancos](
	[CodigoBanco] [smallint] NOT NULL,
	[NomeBanco] [varchar](40) NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaCheques]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaCheques]
  @DtIni DateTime,
  @DtFim DateTime
as
select
  right(''000000'' + cast(ch.CodigoCheque as varchar(6)),6) as CodigoCheque,
  isnull(ch.NumeroCheque,'''') as NumeroCheque,
  isnull(ch.DataEmissao,''1900-01-01 00:00:00.000'') as DataEmissao,
  isnull(ch.ValorCheque,0.00) as ValorCheque,
  isnull(ch.Nominativo,'''') as NominativoCheque,
  Impr=case ch.Impresso
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  Cancel=case ch.Cancelado
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  isnull(ch.DataCancelamento,''1900-01-01 00:00:00.000'') as DtCancel,
  right(''000'' + cast(b.CodigoBanco as varchar(3)),3) as Banco,
  ag.Agencia as Agencia,
  cta.Conta as Conta
  from Cheques ch
  inner join ContasBancarias cta on cta.CodigoConta=ch.CodigoConta
  inner join Agencias ag         on ag.Agencia=cta.Agencia
  inner join Bancos b            on b.CodigoBanco=ag.CodigoBanco
  where ch.DataEmissao between @DtIni and @DtFim 
  and ch.Cancelado=0
  and ch.Impresso=0
  order by ch.NumeroCheque
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaCheques]') AND procedure_number = 2)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaCheques];2
  @DtIni DateTime,
  @DtFim DateTime
as
select
  right(''000000'' + cast(ch.CodigoCheque as varchar(6)),6) as CodigoCheque,
  isnull(ch.NumeroCheque,'''') as NumeroCheque,
  isnull(ch.DataEmissao,''1900-01-01 00:00:00.000'') as DataEmissao,
  isnull(ch.ValorCheque,0.00) as ValorCheque,
  isnull(ch.Nominativo,'''') as NominativoCheque,
  Impr=case ch.Impresso
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  Cancel=case ch.Cancelado
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  isnull(ch.DataCancelamento,''1900-01-01 00:00:00.000'') as DtCancel,
  right(''000'' + cast(b.CodigoBanco as varchar(3)),3) as Banco,
  ag.Agencia as Agencia,
  cta.Conta as Conta
  from Cheques ch
  inner join ContasBancarias cta on cta.CodigoConta=ch.CodigoConta
  inner join Agencias ag         on ag.Agencia=cta.Agencia
  inner join Bancos b            on b.CodigoBanco=ag.CodigoBanco
  where ch.DataEmissao between @DtIni and @DtFim
  and ch.Cancelado=0
  and ch.Impresso=1
  order by ch.NumeroCheque
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaCheques]') AND procedure_number = 3)
BEGIN
execute sp_executesql @statement = N'

CREATE procedure [dbo].[spRetornarListaCheques];3
  @DtIni DateTime,
  @DtFim DateTime
as
select
  right(''000000'' + cast(ch.CodigoCheque as varchar(6)),6) as CodigoCheque,
  isnull(ch.NumeroCheque,'''') as NumeroCheque,
  isnull(ch.DataEmissao,''1900-01-01 00:00:00.000'') as DataEmissao,
  isnull(ch.ValorCheque,0.00) as ValorCheque,
  isnull(ch.Nominativo,'''') as NominativoCheque,
  Impr=case ch.Impresso
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  Cancel=case ch.Cancelado
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  isnull(ch.DataCancelamento,''1900-01-01 00:00:00.000'') as DtCancel,
  right(''000'' + cast(b.CodigoBanco as varchar(3)),3) as Banco,
  ag.Agencia as Agencia,
  cta.Conta as Conta
  from Cheques ch
  inner join ContasBancarias cta on cta.CodigoConta=ch.CodigoConta
  inner join Agencias ag         on ag.Agencia=cta.Agencia
  inner join Bancos b            on b.CodigoBanco=ag.CodigoBanco
  where ch.DataEmissao between @DtIni and @DtFim
  and ch.Cancelado=0  
  order by ch.NumeroCheque
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaCheques]') AND procedure_number = 4)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaCheques];4
  @DtIni DateTime,
  @DtFim DateTime
as
select
  right(''000000'' + cast(ch.CodigoCheque as varchar(6)),6) as CodigoCheque,
  isnull(ch.NumeroCheque,'''') as NumeroCheque,
  isnull(ch.DataEmissao,''1900-01-01 00:00:00.000'') as DataEmissao,
  isnull(ch.ValorCheque,0.00) as ValorCheque,
  isnull(ch.Nominativo,'''') as NominativoCheque,
  Impr=case ch.Impresso
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  Cancel=case ch.Cancelado
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  isnull(ch.DataCancelamento,''1900-01-01 00:00:00.000'') as DtCancel,
  right(''000'' + cast(b.CodigoBanco as varchar(3)),3) as Banco,
  ag.Agencia as Agencia,
  cta.Conta as Conta
  from Cheques ch
  inner join ContasBancarias cta on cta.CodigoConta=ch.CodigoConta
  inner join Agencias ag         on ag.Agencia=cta.Agencia
  inner join Bancos b            on b.CodigoBanco=ag.CodigoBanco
  where ch.DataEmissao between @DtIni and @DtFim 
  and ch.Cancelado=1
  and ch.Impresso=0
  order by ch.NumeroCheque
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaCheques]') AND procedure_number = 5)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaCheques];5
  @DtIni DateTime,
  @DtFim DateTime
as
select
  right(''000000'' + cast(ch.CodigoCheque as varchar(6)),6) as CodigoCheque,
  isnull(ch.NumeroCheque,'''') as NumeroCheque,
  isnull(ch.DataEmissao,''1900-01-01 00:00:00.000'') as DataEmissao,
  isnull(ch.ValorCheque,0.00) as ValorCheque,
  isnull(ch.Nominativo,'''') as NominativoCheque,
  Impr=case ch.Impresso
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  Cancel=case ch.Cancelado
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  isnull(ch.DataCancelamento,''1900-01-01 00:00:00.000'') as DtCancel,
  right(''000'' + cast(b.CodigoBanco as varchar(3)),3) as Banco,
  ag.Agencia as Agencia,
  cta.Conta as Conta
  from Cheques ch
  inner join ContasBancarias cta on cta.CodigoConta=ch.CodigoConta
  inner join Agencias ag         on ag.Agencia=cta.Agencia
  inner join Bancos b            on b.CodigoBanco=ag.CodigoBanco
  where ch.DataEmissao between @DtIni and @DtFim
  and ch.Cancelado=1
  and ch.Impresso=1
  order by ch.NumeroCheque
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaCheques]') AND procedure_number = 6)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaCheques];6
  @DtIni DateTime,
  @DtFim DateTime
as
select
  right(''000000'' + cast(ch.CodigoCheque as varchar(6)),6) as CodigoCheque,
  isnull(ch.NumeroCheque,'''') as NumeroCheque,
  isnull(ch.DataEmissao,''1900-01-01 00:00:00.000'') as DataEmissao,
  isnull(ch.ValorCheque,0.00) as ValorCheque,
  isnull(ch.Nominativo,'''') as NominativoCheque,
  Impr=case ch.Impresso
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  Cancel=case ch.Cancelado
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  isnull(ch.DataCancelamento,''1900-01-01 00:00:00.000'') as DtCancel,
  right(''000'' + cast(b.CodigoBanco as varchar(3)),3) as Banco,
  ag.Agencia as Agencia,
  cta.Conta as Conta
  from Cheques ch
  inner join ContasBancarias cta on cta.CodigoConta=ch.CodigoConta
  inner join Agencias ag         on ag.Agencia=cta.Agencia
  inner join Bancos b            on b.CodigoBanco=ag.CodigoBanco
  where ch.DataEmissao between @DtIni and @DtFim
  and ch.Cancelado=1
  order by ch.NumeroCheque
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaCheques]') AND procedure_number = 7)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaCheques];7
  @DtIni DateTime,
  @DtFim DateTime
as
select
  right(''000000'' + cast(ch.CodigoCheque as varchar(6)),6) as CodigoCheque,
  isnull(ch.NumeroCheque,'''') as NumeroCheque,
  isnull(ch.DataEmissao,''1900-01-01 00:00:00.000'') as DataEmissao,
  isnull(ch.ValorCheque,0.00) as ValorCheque,
  isnull(ch.Nominativo,'''') as NominativoCheque,
  Impr=case ch.Impresso
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  Cancel=case ch.Cancelado
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  isnull(ch.DataCancelamento,''1900-01-01 00:00:00.000'') as DtCancel,
  right(''000'' + cast(b.CodigoBanco as varchar(3)),3) as Banco,
  ag.Agencia as Agencia,
  cta.Conta as Conta
  from Cheques ch
  inner join ContasBancarias cta on cta.CodigoConta=ch.CodigoConta
  inner join Agencias ag         on ag.Agencia=cta.Agencia
  inner join Bancos b            on b.CodigoBanco=ag.CodigoBanco
  where ch.DataEmissao between @DtIni and @DtFim   
  and ch.Impresso=0
  order by ch.NumeroCheque
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaCheques]') AND procedure_number = 8)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaCheques];8
  @DtIni DateTime,
  @DtFim DateTime
as
select
  right(''000000'' + cast(ch.CodigoCheque as varchar(6)),6) as CodigoCheque,
  isnull(ch.NumeroCheque,'''') as NumeroCheque,
  isnull(ch.DataEmissao,''1900-01-01 00:00:00.000'') as DataEmissao,
  isnull(ch.ValorCheque,0.00) as ValorCheque,
  isnull(ch.Nominativo,'''') as NominativoCheque,
  Impr=case ch.Impresso
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  Cancel=case ch.Cancelado
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  isnull(ch.DataCancelamento,''1900-01-01 00:00:00.000'') as DtCancel,
  right(''000'' + cast(b.CodigoBanco as varchar(3)),3) as Banco,
  ag.Agencia as Agencia,
  cta.Conta as Conta
  from Cheques ch
  inner join ContasBancarias cta on cta.CodigoConta=ch.CodigoConta
  inner join Agencias ag         on ag.Agencia=cta.Agencia
  inner join Bancos b            on b.CodigoBanco=ag.CodigoBanco
  where ch.DataEmissao between @DtIni and @DtFim  
  and ch.Impresso=1
  order by ch.NumeroCheque
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaCheques]') AND procedure_number = 9)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaCheques];9
  @DtIni DateTime,
  @DtFim DateTime
as
select
  right(''000000'' + cast(ch.CodigoCheque as varchar(6)),6) as CodigoCheque,
  isnull(ch.NumeroCheque,'''') as NumeroCheque,
  isnull(ch.DataEmissao,''1900-01-01 00:00:00.000'') as DataEmissao,
  isnull(ch.ValorCheque,0.00) as ValorCheque,
  isnull(ch.Nominativo,'''') as NominativoCheque,
  Impr=case ch.Impresso
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  Cancel=case ch.Cancelado
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  isnull(ch.DataCancelamento,''1900-01-01 00:00:00.000'') as DtCancel,
  right(''000'' + cast(b.CodigoBanco as varchar(3)),3) as Banco,
  ag.Agencia as Agencia,
  cta.Conta as Conta
  from Cheques ch
  inner join ContasBancarias cta on cta.CodigoConta=ch.CodigoConta
  inner join Agencias ag         on ag.Agencia=cta.Agencia
  inner join Bancos b            on b.CodigoBanco=ag.CodigoBanco
  where ch.DataEmissao between @DtIni and @DtFim  
  order by ch.NumeroCheque
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaCheques]') AND procedure_number = 10)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaCheques];10
  @DtIni DateTime,
  @DtFim DateTime,
  @CodigoConta Int
as
select
  right(''000000'' + cast(ch.CodigoCheque as varchar(6)),6) as CodigoCheque,
  isnull(ch.NumeroCheque,'''') as NumeroCheque,
  isnull(ch.DataEmissao,''1900-01-01 00:00:00.000'') as DataEmissao,
  isnull(ch.ValorCheque,0.00) as ValorCheque,
  isnull(ch.Nominativo,'''') as NominativoCheque,
  Impr=case ch.Impresso
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  Cancel=case ch.Cancelado
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  isnull(ch.DataCancelamento,''1900-01-01 00:00:00.000'') as DtCancel,
  right(''000'' + cast(b.CodigoBanco as varchar(3)),3) as Banco,
  ag.Agencia as Agencia,
  cta.Conta as Conta
  from Cheques ch
  inner join ContasBancarias cta on cta.CodigoConta=ch.CodigoConta
  inner join Agencias ag         on ag.Agencia=cta.Agencia
  inner join Bancos b            on b.CodigoBanco=ag.CodigoBanco
  where ch.DataEmissao between @DtIni and @DtFim 
  and ch.Cancelado=0
  and ch.Impresso=0
  and ch.CodigoConta=@CodigoConta
  order by ch.NumeroCheque
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaCheques]') AND procedure_number = 11)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaCheques];11
  @DtIni DateTime,
  @DtFim DateTime,
  @CodigoConta Int
as
select
  right(''000000'' + cast(ch.CodigoCheque as varchar(6)),6) as CodigoCheque,
  isnull(ch.NumeroCheque,'''') as NumeroCheque,
  isnull(ch.DataEmissao,''1900-01-01 00:00:00.000'') as DataEmissao,
  isnull(ch.ValorCheque,0.00) as ValorCheque,
  isnull(ch.Nominativo,'''') as NominativoCheque,
  Impr=case ch.Impresso
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  Cancel=case ch.Cancelado
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  isnull(ch.DataCancelamento,''1900-01-01 00:00:00.000'') as DtCancel,
  right(''000'' + cast(b.CodigoBanco as varchar(3)),3) as Banco,
  ag.Agencia as Agencia,
  cta.Conta as Conta
  from Cheques ch
  inner join ContasBancarias cta on cta.CodigoConta=ch.CodigoConta
  inner join Agencias ag         on ag.Agencia=cta.Agencia
  inner join Bancos b            on b.CodigoBanco=ag.CodigoBanco
  where ch.DataEmissao between @DtIni and @DtFim
  and ch.Cancelado=0
  and ch.Impresso=1
  and ch.CodigoConta=@CodigoConta
  order by ch.NumeroCheque
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaCheques]') AND procedure_number = 12)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaCheques];12
  @DtIni DateTime,
  @DtFim DateTime,
  @CodigoConta Int
as
select
  right(''000000'' + cast(ch.CodigoCheque as varchar(6)),6) as CodigoCheque,
  isnull(ch.NumeroCheque,'''') as NumeroCheque,
  isnull(ch.DataEmissao,''1900-01-01 00:00:00.000'') as DataEmissao,
  isnull(ch.ValorCheque,0.00) as ValorCheque,
  isnull(ch.Nominativo,'''') as NominativoCheque,
  Impr=case ch.Impresso
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  Cancel=case ch.Cancelado
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  isnull(ch.DataCancelamento,''1900-01-01 00:00:00.000'') as DtCancel,
  right(''000'' + cast(b.CodigoBanco as varchar(3)),3) as Banco,
  ag.Agencia as Agencia,
  cta.Conta as Conta
  from Cheques ch
  inner join ContasBancarias cta on cta.CodigoConta=ch.CodigoConta
  inner join Agencias ag         on ag.Agencia=cta.Agencia
  inner join Bancos b            on b.CodigoBanco=ag.CodigoBanco
  where ch.DataEmissao between @DtIni and @DtFim
  and ch.Cancelado=0  
  and ch.CodigoConta=@CodigoConta
  order by ch.NumeroCheque
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaCheques]') AND procedure_number = 13)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaCheques];13
  @DtIni DateTime,
  @DtFim DateTime,
  @CodigoConta Int
as
select
  right(''000000'' + cast(ch.CodigoCheque as varchar(6)),6) as CodigoCheque,
  isnull(ch.NumeroCheque,'''') as NumeroCheque,
  isnull(ch.DataEmissao,''1900-01-01 00:00:00.000'') as DataEmissao,
  isnull(ch.ValorCheque,0.00) as ValorCheque,
  isnull(ch.Nominativo,'''') as NominativoCheque,
  Impr=case ch.Impresso
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  Cancel=case ch.Cancelado
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  isnull(ch.DataCancelamento,''1900-01-01 00:00:00.000'') as DtCancel,
  right(''000'' + cast(b.CodigoBanco as varchar(3)),3) as Banco,
  ag.Agencia as Agencia,
  cta.Conta as Conta
  from Cheques ch
  inner join ContasBancarias cta on cta.CodigoConta=ch.CodigoConta
  inner join Agencias ag         on ag.Agencia=cta.Agencia
  inner join Bancos b            on b.CodigoBanco=ag.CodigoBanco
  where ch.DataEmissao between @DtIni and @DtFim 
  and ch.Cancelado=1
  and ch.Impresso=0
  and ch.CodigoConta=@CodigoConta
  order by ch.NumeroCheque
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaCheques]') AND procedure_number = 14)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaCheques];14
  @DtIni DateTime,
  @DtFim DateTime,
  @CodigoConta Int
as
select
  right(''000000'' + cast(ch.CodigoCheque as varchar(6)),6) as CodigoCheque,
  isnull(ch.NumeroCheque,'''') as NumeroCheque,
  isnull(ch.DataEmissao,''1900-01-01 00:00:00.000'') as DataEmissao,
  isnull(ch.ValorCheque,0.00) as ValorCheque,
  isnull(ch.Nominativo,'''') as NominativoCheque,
  Impr=case ch.Impresso
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  Cancel=case ch.Cancelado
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  isnull(ch.DataCancelamento,''1900-01-01 00:00:00.000'') as DtCancel,
  right(''000'' + cast(b.CodigoBanco as varchar(3)),3) as Banco,
  ag.Agencia as Agencia,
  cta.Conta as Conta
  from Cheques ch
  inner join ContasBancarias cta on cta.CodigoConta=ch.CodigoConta
  inner join Agencias ag         on ag.Agencia=cta.Agencia
  inner join Bancos b            on b.CodigoBanco=ag.CodigoBanco
  where ch.DataEmissao between @DtIni and @DtFim
  and ch.Cancelado=1
  and ch.Impresso=1
  and ch.CodigoConta=@CodigoConta
  order by ch.NumeroCheque
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaCheques]') AND procedure_number = 15)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaCheques];15
  @DtIni DateTime,
  @DtFim DateTime,
  @CodigoConta Int
as
select
  right(''000000'' + cast(ch.CodigoCheque as varchar(6)),6) as CodigoCheque,
  isnull(ch.NumeroCheque,'''') as NumeroCheque,
  isnull(ch.DataEmissao,''1900-01-01 00:00:00.000'') as DataEmissao,
  isnull(ch.ValorCheque,0.00) as ValorCheque,
  isnull(ch.Nominativo,'''') as NominativoCheque,
  Impr=case ch.Impresso
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  Cancel=case ch.Cancelado
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  isnull(ch.DataCancelamento,''1900-01-01 00:00:00.000'') as DtCancel,
  right(''000'' + cast(b.CodigoBanco as varchar(3)),3) as Banco,
  ag.Agencia as Agencia,
  cta.Conta as Conta
  from Cheques ch
  inner join ContasBancarias cta on cta.CodigoConta=ch.CodigoConta
  inner join Agencias ag         on ag.Agencia=cta.Agencia
  inner join Bancos b            on b.CodigoBanco=ag.CodigoBanco
  where ch.DataEmissao between @DtIni and @DtFim
  and ch.Cancelado=1
  and ch.CodigoConta=@CodigoConta
  order by ch.NumeroCheque
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaCheques]') AND procedure_number = 16)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaCheques];16
  @DtIni DateTime,
  @DtFim DateTime,
  @CodigoConta Int
as
select
  right(''000000'' + cast(ch.CodigoCheque as varchar(6)),6) as CodigoCheque,
  isnull(ch.NumeroCheque,'''') as NumeroCheque,
  isnull(ch.DataEmissao,''1900-01-01 00:00:00.000'') as DataEmissao,
  isnull(ch.ValorCheque,0.00) as ValorCheque,
  isnull(ch.Nominativo,'''') as NominativoCheque,
  Impr=case ch.Impresso
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  Cancel=case ch.Cancelado
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  isnull(ch.DataCancelamento,''1900-01-01 00:00:00.000'') as DtCancel,
  right(''000'' + cast(b.CodigoBanco as varchar(3)),3) as Banco,
  ag.Agencia as Agencia,
  cta.Conta as Conta
  from Cheques ch
  inner join ContasBancarias cta on cta.CodigoConta=ch.CodigoConta
  inner join Agencias ag         on ag.Agencia=cta.Agencia
  inner join Bancos b            on b.CodigoBanco=ag.CodigoBanco
  where ch.DataEmissao between @DtIni and @DtFim   
  and ch.Impresso=0
  and ch.CodigoConta=@CodigoConta
  order by ch.NumeroCheque
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaCheques]') AND procedure_number = 17)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaCheques];17
  @DtIni DateTime,
  @DtFim DateTime,
  @CodigoConta Int
as
select
  right(''000000'' + cast(ch.CodigoCheque as varchar(6)),6) as CodigoCheque,
  isnull(ch.NumeroCheque,'''') as NumeroCheque,
  isnull(ch.DataEmissao,''1900-01-01 00:00:00.000'') as DataEmissao,
  isnull(ch.ValorCheque,0.00) as ValorCheque,
  isnull(ch.Nominativo,'''') as NominativoCheque,
  Impr=case ch.Impresso
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  Cancel=case ch.Cancelado
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  isnull(ch.DataCancelamento,''1900-01-01 00:00:00.000'') as DtCancel,
  right(''000'' + cast(b.CodigoBanco as varchar(3)),3) as Banco,
  ag.Agencia as Agencia,
  cta.Conta as Conta
  from Cheques ch
  inner join ContasBancarias cta on cta.CodigoConta=ch.CodigoConta
  inner join Agencias ag         on ag.Agencia=cta.Agencia
  inner join Bancos b            on b.CodigoBanco=ag.CodigoBanco
  where ch.DataEmissao between @DtIni and @DtFim  
  and ch.Impresso=1
  and ch.CodigoConta=@CodigoConta
  order by ch.NumeroCheque
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaCheques]') AND procedure_number = 18)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaCheques];18
  @DtIni DateTime,
  @DtFim DateTime,
  @CodigoConta Int
as
select
  right(''000000'' + cast(ch.CodigoCheque as varchar(6)),6) as CodigoCheque,
  isnull(ch.NumeroCheque,'''') as NumeroCheque,
  isnull(ch.DataEmissao,''1900-01-01 00:00:00.000'') as DataEmissao,
  isnull(ch.ValorCheque,0.00) as ValorCheque,
  isnull(ch.Nominativo,'''') as NominativoCheque,
  Impr=case ch.Impresso
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  Cancel=case ch.Cancelado
     when 0 then ''0 - Não''
     when 1 then ''1 - Sim''
  end,
  isnull(ch.DataCancelamento,''1900-01-01 00:00:00.000'') as DtCancel,
  right(''000'' + cast(b.CodigoBanco as varchar(3)),3) as Banco,
  ag.Agencia as Agencia,
  cta.Conta as Conta
  from Cheques ch
  inner join ContasBancarias cta on cta.CodigoConta=ch.CodigoConta
  inner join Agencias ag         on ag.Agencia=cta.Agencia
  inner join Bancos b            on b.CodigoBanco=ag.CodigoBanco
  where ch.DataEmissao between @DtIni and @DtFim and ch.CodigoConta=@CodigoConta
  order by ch.NumeroCheque
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarContasDaAgencia]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE procedure [dbo].[spRetornarContasDaAgencia]  
  @Agencia VarChar(10)  
as
select
  right(''0000'' + cast(CodigoConta as varchar(4)),4) as CodigoConta,
  Conta as NumeroConta,
  isnull(UltimoCheque,0) as UltCheque
from ContasBancarias
where Agencia=@Agencia
order by Conta
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spIncluirContaBancaria]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE procedure [dbo].[spIncluirContaBancaria]  
  @NumeroConta VarChar(10),                
  @UltimoCheque Int,
  @Agencia VarChar(10)
as
  insert into ContasBancarias values (@NumeroConta, @Agencia, @UltimoCheque)
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spAlterarContaBancaria]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE procedure [dbo].[spAlterarContaBancaria]  
  @NumeroConta VarChar(10),                
  @UltimoCheque Int,
  @Agencia VarChar(10),
  @CodigoConta Int
as
  update ContasBancarias
  set Conta=@NumeroConta,
      Agencia=@Agencia,
      UltimoCheque=@UltimoCheque
  where CodigoConta=@CodigoConta
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spExcluirContaBancaria]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE procedure [dbo].[spExcluirContaBancaria]  
  @CodigoConta Int,
  @ret Bit output
as
  if exists(select * from MovimentoCaixa where CodigoConta=@CodigoConta)
     select @ret=0
  else
  begin
     delete from ContasBancarias where CodigoCOnta=@CodigoConta
     select @ret=1
  end
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaTitulos]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE procedure [dbo].[spRetornarListaTitulos]
as
  select
  right(''000000'' + cast(t.CodigoCAP as varchar(6)),6) as CodigoCap,
  isnull(t.Documento,'''') as Titulo,
  t.Vencimento as Venc,
  isnull(t.ValorOriginal,0.00) as ValorOriginal,
  Baixado=case t.Pago
    when 0 then ''0 - Não''
    when 1 then ''1 - Sim''
  end,
  isnull(t.DataPagamento,''1900-01-01 00:00:00.000'') as DataPagto,                        
  isnull(t.ValorPago,0.00) as ValorPago,
  isnull(t.Historico,'''') as Historico,
  isnull(right(''0000'' + cast(t.CodigoFornecedor as varchar(4)),4) + '' - '' + f.NomeFornecedor, ''0000 - Não Informado'') as Fornecedor,
  right(''00'' + cast(t.CodigoFazenda as varchar(2)),2) + '' - '' + fa.NomeFazenda as Fazenda,
  isnull(b.CodigoBanco,'''') as Banco,
  isnull(age.Agencia,'''') as Agencia,
  isnull(cta.Conta,'''') as ContaBancaria,
  isnull(ch.NumeroCheque,'''') as NumeroCheque
  from Titulos t
  inner join Fazenda fa               on fa.CodigoFazenda=t.CodigoFazenda
  left outer join Fornecedores f      on f.CodigoFornecedor=t.CodigoFornecedor
  left outer join MovimentoCaixa m    on m.CodigoCap=t.CodigoCap
  left outer join Contasbancarias cta on cta.CodigoConta=m.CodigoConta
  left outer join Agencias age        on age.Agencia=cta.Agencia
  left outer join Bancos b            on b.Codigobanco=age.CodigoBanco
  left outer join Cheques ch          on ch.CodigoCheque=m.CodigoCheque
  where t.Pago=0
  order by t.Vencimento, t.ValorOriginal
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaTitulos]') AND procedure_number = 2)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaTitulos];2
  @DataInicio DateTime,                       
  @DataFinal DateTime
as
  select
  right(''000000'' + cast(t.CodigoCAP as varchar(6)),6) as CodigoCap,
  isnull(t.Documento,'''') as Titulo,
  t.Vencimento as Venc,
  isnull(t.ValorOriginal,0.00) as ValorOriginal,
  Baixado=case t.Pago
    when 0 then ''0 - Não''
    when 1 then ''1 - Sim''
  end,
  isnull(t.DataPagamento,''1900-01-01 00:00:00.000'') as DataPagto,                        
  isnull(t.ValorPago,0.00) as ValorPago,
  isnull(t.Historico,'''') as Historico,
  isnull(right(''0000'' + cast(t.CodigoFornecedor as varchar(4)),4) + '' - '' + f.NomeFornecedor, ''0000 - Não Informado'') as Fornecedor,
  right(''00'' + cast(t.CodigoFazenda as varchar(2)),2) + '' - '' + fa.NomeFazenda as Fazenda,
  isnull(b.CodigoBanco,'''') as Banco,
  isnull(age.Agencia,'''') as Agencia,
  isnull(cta.Conta,'''') as ContaBancaria,
  isnull(ch.NumeroCheque,'''') as NumeroCheque  
  from Titulos t
  inner join Fazenda fa  on fa.CodigoFazenda=t.CodigoFazenda
  left outer join Fornecedores f  on f.CodigoFornecedor=t.CodigoFornecedor
  left outer join MovimentoCaixa m    on m.CodigoCap=t.CodigoCap
  left outer join Contasbancarias cta on cta.CodigoConta=m.CodigoConta
  left outer join Agencias age        on age.Agencia=cta.Agencia
  left outer join Bancos b            on b.Codigobanco=age.CodigoBanco
  left outer join Cheques ch          on ch.CodigoCheque=m.CodigoCheque
  where t.Pago=0 and t.Vencimento between @DataInicio and @DataFinal
  order by t.Vencimento, t.ValorOriginal
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaTitulos]') AND procedure_number = 3)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaTitulos];3
  @ValorInicio Decimal(10,2),
  @ValorFinal Decimal(10,2)
as
  select
  right(''000000'' + cast(t.CodigoCAP as varchar(6)),6) as CodigoCap,
  isnull(t.Documento,'''') as Titulo,
  t.Vencimento as Venc,
  isnull(t.ValorOriginal,0.00) as ValorOriginal,
  Baixado=case t.Pago
    when 0 then ''0 - Não''
    when 1 then ''1 - Sim''
  end,
  isnull(t.DataPagamento,''1900-01-01 00:00:00.000'') as DataPagto,                        
  isnull(t.ValorPago,0.00) as ValorPago,
  isnull(t.Historico,'''') as Historico,
  isnull(right(''0000'' + cast(t.CodigoFornecedor as varchar(4)),4) + '' - '' + f.NomeFornecedor, ''0000 - Não Informado'') as Fornecedor,
  right(''00'' + cast(t.CodigoFazenda as varchar(2)),2) + '' - '' + fa.NomeFazenda as Fazenda,
  isnull(b.CodigoBanco,'''') as Banco,
  isnull(age.Agencia,'''') as Agencia,
  isnull(cta.Conta,'''') as ContaBancaria,
  isnull(ch.NumeroCheque,'''') as NumeroCheque  
  from Titulos t
  inner join Fazenda fa  on fa.CodigoFazenda=t.CodigoFazenda
  left outer join Fornecedores f  on f.CodigoFornecedor=t.CodigoFornecedor
  left outer join MovimentoCaixa m    on m.CodigoCap=t.CodigoCap
  left outer join Contasbancarias cta on cta.CodigoConta=m.CodigoConta
  left outer join Agencias age        on age.Agencia=cta.Agencia
  left outer join Bancos b            on b.Codigobanco=age.CodigoBanco
  left outer join Cheques ch          on ch.CodigoCheque=m.CodigoCheque
  where t.Pago=0 and t.ValorOriginal between @ValorInicio and @ValorFinal
  order by t.ValorOriginal
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaTitulos]') AND procedure_number = 4)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaTitulos];4
  @CodigoFazenda SmallInt  
as
  select
  right(''000000'' + cast(t.CodigoCAP as varchar(6)),6) as CodigoCap,
  isnull(t.Documento,'''') as Titulo,
  t.Vencimento as Venc,
  isnull(t.ValorOriginal,0.00) as ValorOriginal,
  Baixado=case t.Pago
    when 0 then ''0 - Não''
    when 1 then ''1 - Sim''
  end,
  isnull(t.DataPagamento,''1900-01-01 00:00:00.000'') as DataPagto,                        
  isnull(t.ValorPago,0.00) as ValorPago,
  isnull(t.Historico,'''') as Historico,
  isnull(right(''0000'' + cast(t.CodigoFornecedor as varchar(4)),4) + '' - '' + f.NomeFornecedor, ''0000 - Não Informado'') as Fornecedor,
  right(''00'' + cast(t.CodigoFazenda as varchar(2)),2) + '' - '' + fa.NomeFazenda as Fazenda,
  isnull(b.CodigoBanco,'''') as Banco,
  isnull(age.Agencia,'''') as Agencia,
  isnull(cta.Conta,'''') as ContaBancaria,
  isnull(ch.NumeroCheque,'''') as NumeroCheque  
  from Titulos t
  inner join Fazenda fa  on fa.CodigoFazenda=t.CodigoFazenda
  left outer join Fornecedores f  on f.CodigoFornecedor=t.CodigoFornecedor
  left outer join MovimentoCaixa m    on m.CodigoCap=t.CodigoCap
  left outer join Contasbancarias cta on cta.CodigoConta=m.CodigoConta
  left outer join Agencias age        on age.Agencia=cta.Agencia
  left outer join Bancos b            on b.Codigobanco=age.CodigoBanco
  left outer join Cheques ch          on ch.CodigoCheque=m.CodigoCheque
  where t.Pago=0 and t.CodigoFazenda=@CodigoFazenda
  order by t.ValorOriginal
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaTitulos]') AND procedure_number = 5)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaTitulos];5
as
  select
  right(''000000'' + cast(t.CodigoCAP as varchar(6)),6) as CodigoCap,
  isnull(t.Documento,'''') as Titulo,
  t.Vencimento as Venc,
  isnull(t.ValorOriginal,0.00) as ValorOriginal,
  Baixado=case t.Pago
    when 0 then ''0 - Não''
    when 1 then ''1 - Sim''
  end,
  isnull(t.DataPagamento,''1900-01-01 00:00:00.000'') as DataPagto,                        
  isnull(t.ValorPago,0.00) as ValorPago,
  isnull(t.Historico,'''') as Historico,
  isnull(right(''0000'' + cast(t.CodigoFornecedor as varchar(4)),4) + '' - '' + f.NomeFornecedor, ''0000 - Não Informado'') as Fornecedor,
  right(''00'' + cast(t.CodigoFazenda as varchar(2)),2) + '' - '' + fa.NomeFazenda as Fazenda,
  isnull(b.CodigoBanco,'''') as Banco,
  isnull(age.Agencia,'''') as Agencia,
  isnull(cta.Conta,'''') as ContaBancaria,
  isnull(ch.NumeroCheque,'''') as NumeroCheque  
  from Titulos t
  inner join Fazenda fa  on fa.CodigoFazenda=t.CodigoFazenda
  left outer join Fornecedores f  on f.CodigoFornecedor=t.CodigoFornecedor
  left outer join MovimentoCaixa m    on m.CodigoCap=t.CodigoCap
  left outer join Contasbancarias cta on cta.CodigoConta=m.CodigoConta
  left outer join Agencias age        on age.Agencia=cta.Agencia
  left outer join Bancos b            on b.Codigobanco=age.CodigoBanco
  left outer join Cheques ch          on ch.CodigoCheque=m.CodigoCheque
  where t.Pago=1
  order by t.DataPagamento, t.ValorPago
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaTitulos]') AND procedure_number = 6)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaTitulos];6
  @DataInicio DateTime,                       
  @DataFinal DateTime
as
  select
  right(''000000'' + cast(t.CodigoCAP as varchar(6)),6) as CodigoCap,
  isnull(t.Documento,'''') as Titulo,
  t.Vencimento as Venc,
  isnull(t.ValorOriginal,0.00) as ValorOriginal,
  Baixado=case t.Pago
    when 0 then ''0 - Não''
    when 1 then ''1 - Sim''
  end,
  isnull(t.DataPagamento,''1900-01-01 00:00:00.000'') as DataPagto,                        
  isnull(t.ValorPago,0.00) as ValorPago,
  isnull(t.Historico,'''') as Historico,
  isnull(right(''0000'' + cast(t.CodigoFornecedor as varchar(4)),4) + '' - '' + f.NomeFornecedor, ''0000 - Não Informado'') as Fornecedor,
  right(''00'' + cast(t.CodigoFazenda as varchar(2)),2) + '' - '' + fa.NomeFazenda as Fazenda,
  isnull(b.CodigoBanco,'''') as Banco,
  isnull(age.Agencia,'''') as Agencia,
  isnull(cta.Conta,'''') as ContaBancaria,
  isnull(ch.NumeroCheque,'''') as NumeroCheque  
  from Titulos t
  inner join Fazenda fa  on fa.CodigoFazenda=t.CodigoFazenda
  left outer join Fornecedores f  on f.CodigoFornecedor=t.CodigoFornecedor
  left outer join MovimentoCaixa m    on m.CodigoCap=t.CodigoCap
  left outer join Contasbancarias cta on cta.CodigoConta=m.CodigoConta
  left outer join Agencias age        on age.Agencia=cta.Agencia
  left outer join Bancos b            on b.Codigobanco=age.CodigoBanco
  left outer join Cheques ch          on ch.CodigoCheque=m.CodigoCheque
  where t.Pago=1 and t.DataPagamento between @DataInicio and @DataFinal
  order by t.DataPagamento, t.ValorPago
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaTitulos]') AND procedure_number = 7)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaTitulos];7
  @ValorInicio Decimal(10,2),
  @ValorFinal Decimal(10,2)
as
  select
  right(''000000'' + cast(t.CodigoCAP as varchar(6)),6) as CodigoCap,
  isnull(t.Documento,'''') as Titulo,
  t.Vencimento as Venc,
  isnull(t.ValorOriginal,0.00) as ValorOriginal,
  Baixado=case t.Pago
    when 0 then ''0 - Não''
    when 1 then ''1 - Sim''
  end,
  isnull(t.DataPagamento,''1900-01-01 00:00:00.000'') as DataPagto,                        
  isnull(t.ValorPago,0.00) as ValorPago,
  isnull(t.Historico,'''') as Historico,
  isnull(right(''0000'' + cast(t.CodigoFornecedor as varchar(4)),4) + '' - '' + f.NomeFornecedor, ''0000 - Não Informado'') as Fornecedor,
  right(''00'' + cast(t.CodigoFazenda as varchar(2)),2) + '' - '' + fa.NomeFazenda as Fazenda,
  isnull(b.CodigoBanco,'''') as Banco,
  isnull(age.Agencia,'''') as Agencia,
  isnull(cta.Conta,'''') as ContaBancaria,
  isnull(ch.NumeroCheque,'''') as NumeroCheque  
  from Titulos t
  inner join Fazenda fa  on fa.CodigoFazenda=t.CodigoFazenda
  left outer join Fornecedores f  on f.CodigoFornecedor=t.CodigoFornecedor
  left outer join MovimentoCaixa m    on m.CodigoCap=t.CodigoCap
  left outer join Contasbancarias cta on cta.CodigoConta=m.CodigoConta
  left outer join Agencias age        on age.Agencia=cta.Agencia
  left outer join Bancos b            on b.Codigobanco=age.CodigoBanco
  left outer join Cheques ch          on ch.CodigoCheque=m.CodigoCheque
  where t.Pago=1 and t.ValorPago between @ValorInicio and @ValorFinal
  order by t.ValorPago
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaTitulos]') AND procedure_number = 8)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaTitulos];8
  @CodigoFazenda SmallInt  
as
  select
  right(''000000'' + cast(t.CodigoCAP as varchar(6)),6) as CodigoCap,
  isnull(t.Documento,'''') as Titulo,
  t.Vencimento as Venc,
  isnull(t.ValorOriginal,0.00) as ValorOriginal,
  Baixado=case t.Pago
    when 0 then ''0 - Não''
    when 1 then ''1 - Sim''
  end,
  isnull(t.DataPagamento,''1900-01-01 00:00:00.000'') as DataPagto,                        
  isnull(t.ValorPago,0.00) as ValorPago,
  isnull(t.Historico,'''') as Historico,
  isnull(right(''0000'' + cast(t.CodigoFornecedor as varchar(4)),4) + '' - '' + f.NomeFornecedor, ''0000 - Não Informado'') as Fornecedor,
  right(''00'' + cast(t.CodigoFazenda as varchar(2)),2) + '' - '' + fa.NomeFazenda as Fazenda,
  isnull(b.CodigoBanco,'''') as Banco,
  isnull(age.Agencia,'''') as Agencia,
  isnull(cta.Conta,'''') as ContaBancaria,
  isnull(ch.NumeroCheque,'''') as NumeroCheque  
  from Titulos t
  inner join Fazenda fa  on fa.CodigoFazenda=t.CodigoFazenda
  left outer join Fornecedores f  on f.CodigoFornecedor=t.CodigoFornecedor
  left outer join MovimentoCaixa m    on m.CodigoCap=t.CodigoCap
  left outer join Contasbancarias cta on cta.CodigoConta=m.CodigoConta
  left outer join Agencias age        on age.Agencia=cta.Agencia
  left outer join Bancos b            on b.Codigobanco=age.CodigoBanco
  left outer join Cheques ch          on ch.CodigoCheque=m.CodigoCheque
  where t.Pago=1 and t.CodigoFazenda=@CodigoFazenda
  order by t.ValorOriginal
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaTitulos]') AND procedure_number = 9)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaTitulos];9
as
  select
  right(''000000'' + cast(t.CodigoCAP as varchar(6)),6) as CodigoCap,
  isnull(t.Documento,'''') as Titulo,
  t.Vencimento as Venc,
  isnull(t.ValorOriginal,0.00) as ValorOriginal,
  Baixado=case t.Pago
    when 0 then ''0 - Não''
    when 1 then ''1 - Sim''
  end,
  isnull(t.DataPagamento,''1900-01-01 00:00:00.000'') as DataPagto,                        
  isnull(t.ValorPago,0.00) as ValorPago,
  isnull(t.Historico,'''') as Historico,
  isnull(right(''0000'' + cast(t.CodigoFornecedor as varchar(4)),4) + '' - '' + f.NomeFornecedor, ''0000 - Não Informado'') as Fornecedor,
  right(''00'' + cast(t.CodigoFazenda as varchar(2)),2) + '' - '' + fa.NomeFazenda as Fazenda,
  isnull(b.CodigoBanco,'''') as Banco,
  isnull(age.Agencia,'''') as Agencia,
  isnull(cta.Conta,'''') as ContaBancaria,
  isnull(ch.NumeroCheque,'''') as NumeroCheque
  from Titulos t
  inner join Fazenda fa  on fa.CodigoFazenda=t.CodigoFazenda
  left outer join Fornecedores f  on f.CodigoFornecedor=t.CodigoFornecedor 
  left outer join MovimentoCaixa m    on m.CodigoCap=t.CodigoCap
  left outer join Contasbancarias cta on cta.CodigoConta=m.CodigoConta
  left outer join Agencias age        on age.Agencia=cta.Agencia
  left outer join Bancos b            on b.Codigobanco=age.CodigoBanco
  left outer join Cheques ch          on ch.CodigoCheque=m.CodigoCheque 
  order by t.Vencimento, t.ValorOriginal
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaTitulos]') AND procedure_number = 10)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaTitulos];10
  @DataInicio DateTime,                       
  @DataFinal DateTime
as
  select
  right(''000000'' + cast(t.CodigoCAP as varchar(6)),6) as CodigoCap,
  isnull(t.Documento,'''') as Titulo,
  t.Vencimento as Venc,
  isnull(t.ValorOriginal,0.00) as ValorOriginal,
  Baixado=case t.Pago
    when 0 then ''0 - Não''
    when 1 then ''1 - Sim''
  end,
  isnull(t.DataPagamento,''1900-01-01 00:00:00.000'') as DataPagto,                        
  isnull(t.ValorPago,0.00) as ValorPago,
  isnull(t.Historico,'''') as Historico,
  isnull(right(''0000'' + cast(t.CodigoFornecedor as varchar(4)),4) + '' - '' + f.NomeFornecedor, ''0000 - Não Informado'') as Fornecedor,
  right(''00'' + cast(t.CodigoFazenda as varchar(2)),2) + '' - '' + fa.NomeFazenda as Fazenda,
  isnull(b.CodigoBanco,'''') as Banco,
  isnull(age.Agencia,'''') as Agencia,
  isnull(cta.Conta,'''') as ContaBancaria,
  isnull(ch.NumeroCheque,'''') as NumeroCheque  
  from Titulos t
  inner join Fazenda fa  on fa.CodigoFazenda=t.CodigoFazenda
  left outer join Fornecedores f  on f.CodigoFornecedor=t.CodigoFornecedor
  left outer join MovimentoCaixa m    on m.CodigoCap=t.CodigoCap
  left outer join Contasbancarias cta on cta.CodigoConta=m.CodigoConta
  left outer join Agencias age        on age.Agencia=cta.Agencia
  left outer join Bancos b            on b.Codigobanco=age.CodigoBanco
  left outer join Cheques ch          on ch.CodigoCheque=m.CodigoCheque   
  where t.Vencimento between @DataInicio and @DataFinal
  order by t.Vencimento, t.ValorOriginal
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaTitulos]') AND procedure_number = 11)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaTitulos];11
  @ValorInicio Decimal(10,2),
  @ValorFinal Decimal(10,2)
as
  select
  right(''000000'' + cast(t.CodigoCAP as varchar(6)),6) as CodigoCap,
  isnull(t.Documento,'''') as Titulo,
  t.Vencimento as Venc,
  isnull(t.ValorOriginal,0.00) as ValorOriginal,
  Baixado=case t.Pago
    when 0 then ''0 - Não''
    when 1 then ''1 - Sim''
  end,
  isnull(t.DataPagamento,''1900-01-01 00:00:00.000'') as DataPagto,                        
  isnull(t.ValorPago,0.00) as ValorPago,
  isnull(t.Historico,'''') as Historico,
  isnull(right(''0000'' + cast(t.CodigoFornecedor as varchar(4)),4) + '' - '' + f.NomeFornecedor, ''0000 - Não Informado'') as Fornecedor,
  right(''00'' + cast(t.CodigoFazenda as varchar(2)),2) + '' - '' + fa.NomeFazenda as Fazenda,
  isnull(b.CodigoBanco,'''') as Banco,
  isnull(age.Agencia,'''') as Agencia,
  isnull(cta.Conta,'''') as ContaBancaria,
  isnull(ch.NumeroCheque,'''') as NumeroCheque  
  from Titulos t
  inner join Fazenda fa  on fa.CodigoFazenda=t.CodigoFazenda
  left outer join Fornecedores f  on f.CodigoFornecedor=t.CodigoFornecedor
  left outer join MovimentoCaixa m    on m.CodigoCap=t.CodigoCap
  left outer join Contasbancarias cta on cta.CodigoConta=m.CodigoConta
  left outer join Agencias age        on age.Agencia=cta.Agencia
  left outer join Bancos b            on b.Codigobanco=age.CodigoBanco
  left outer join Cheques ch          on ch.CodigoCheque=m.CodigoCheque   
  where t.ValorOriginal between @ValorInicio and @ValorFinal
  order by t.ValorOriginal
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaTitulos]') AND procedure_number = 12)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaTitulos];12
  @CodigoFazenda SmallInt  
as
  select
  right(''000000'' + cast(t.CodigoCAP as varchar(6)),6) as CodigoCap,
  isnull(t.Documento,'''') as Titulo,
  t.Vencimento as Venc,
  isnull(t.ValorOriginal,0.00) as ValorOriginal,
  Baixado=case t.Pago
    when 0 then ''0 - Não''
    when 1 then ''1 - Sim''
  end,
  isnull(t.DataPagamento,''1900-01-01 00:00:00.000'') as DataPagto,                        
  isnull(t.ValorPago,0.00) as ValorPago,
  isnull(t.Historico,'''') as Historico,
  isnull(right(''0000'' + cast(t.CodigoFornecedor as varchar(4)),4) + '' - '' + f.NomeFornecedor, ''0000 - Não Informado'') as Fornecedor,
  right(''00'' + cast(t.CodigoFazenda as varchar(2)),2) + '' - '' + fa.NomeFazenda as Fazenda,
  isnull(b.CodigoBanco,'''') as Banco,
  isnull(age.Agencia,'''') as Agencia,
  isnull(cta.Conta,'''') as ContaBancaria,
  isnull(ch.NumeroCheque,'''') as NumeroCheque  
  from Titulos t
  inner join Fazenda fa  on fa.CodigoFazenda=t.CodigoFazenda
  left outer join Fornecedores f  on f.CodigoFornecedor=t.CodigoFornecedor
  left outer join MovimentoCaixa m    on m.CodigoCap=t.CodigoCap
  left outer join Contasbancarias cta on cta.CodigoConta=m.CodigoConta
  left outer join Agencias age        on age.Agencia=cta.Agencia
  left outer join Bancos b            on b.Codigobanco=age.CodigoBanco
  left outer join Cheques ch          on ch.CodigoCheque=m.CodigoCheque   
  where t.CodigoFazenda=@CodigoFazenda
  order by t.ValorOriginal
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spExcluirAgencia]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE procedure [dbo].[spExcluirAgencia]  
  @CodigoAgencia SmallInt,                
  @Agencia VarChar(10),                
  @ret Bit output
as
if exists (select * from ContasBancarias where Agencia=@Agencia)
   select @ret=0
else
begin
   delete from Agencias where CodigoAgencia=@CodigoAgencia
   select @ret=1
end

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spBaixarTituloDebitarContaGerarChequeIndividualNominalFornecedor]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE procedure [dbo].[spBaixarTituloDebitarContaGerarChequeIndividualNominalFornecedor]  
  @CodigoCap Int,
  @DataBaixa DateTime,
  @CodigoConta Int,
  @ValorTitulo Decimal(10,2)
as
declare @NumeracaoCheque varchar(10)
declare @NumCheque int
declare @UltimoCheque int
declare @CodigoFornecedor int
declare @NomeFornecedor varchar(60)
declare @Historico varchar(100)
declare @CodigoFazenda smallint

begin tran

   select
    @NomeFornecedor=isnull(f.NomeFornecedor,''Nao localizado''),
    @CodigoFornecedor=t.CodigoFornecedor,
    @Historico=t.Historico,
    @CodigoFazenda=t.CodigoFazenda
   from Titulos t
   inner join Fornecedores f on f.CodigoFornecedor=t.CodigoFornecedor
   where t.CodigoCap=@CodigoCap

   select @NumCheque=UltimoCheque + 1 from ContasBancarias where CodigoConta=@CodigoConta
   select @NumeracaoCheque=right(''0000000000'' + cast(@NumCheque as varchar(10)), 10)

   insert into Cheques values(@NumeracaoCheque,0,0,@NomeFornecedor,@DataBaixa,null,@ValorTitulo,@CodigoConta)
   select @UltimoCheque=max(CodigoCheque) from Cheques
   
   update ContasBancarias set UltimoCheque=@NumeracaoCheque where CodigoConta=@CodigoConta

   insert into MovimentoCaixa
   values(@DataBaixa, @ValorTitulo, @CodigoFornecedor, @Historico,
          @CodigoConta, @UltimoCheque, @CodigoCap, @CodigoFazenda, 2, 0)

   update Titulos set DataPagamento=@DataBaixa, ValorPago=@ValorTitulo, Pago=1
   where CodigoCap=@CodigoCap
  

if @@error<>0
   Rollback tran
else
   Commit


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spBaixarTituloDebitarContaGerarChequeIndividualComNominativo]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
create procedure [dbo].[spBaixarTituloDebitarContaGerarChequeIndividualComNominativo]  
  @CodigoCap Int,
  @DataBaixa DateTime,
  @CodigoConta Int,
  @ValorTitulo Decimal(10,2),
  @Nominativo VarChar(60)
as
declare @NumeracaoCheque varchar(10)
declare @NumCheque int
declare @UltimoCheque int
declare @CodigoFornecedor int
declare @NomeFornecedor varchar(60)
declare @Historico varchar(100)
declare @CodigoFazenda smallint

begin tran

   select
    @NomeFornecedor=isnull(f.NomeFornecedor,''Nao localizado''),
    @CodigoFornecedor=t.CodigoFornecedor,
    @Historico=t.Historico,
    @CodigoFazenda=t.CodigoFazenda
   from Titulos t
   inner join Fornecedores f on f.CodigoFornecedor=t.CodigoFornecedor
   where t.CodigoCap=@CodigoCap

   select @NumCheque=UltimoCheque + 1 from ContasBancarias where CodigoConta=@CodigoConta
   select @NumeracaoCheque=right(''0000000000'' + cast(@NumCheque as varchar(10)), 10)

   insert into Cheques values(@NumeracaoCheque,0,0,@Nominativo,@DataBaixa,null,@ValorTitulo,@CodigoConta)
   select @UltimoCheque=max(CodigoCheque) from Cheques
   
   update ContasBancarias set UltimoCheque=@NumeracaoCheque where CodigoConta=@CodigoConta

   insert into MovimentoCaixa
   values(@DataBaixa, @ValorTitulo, @CodigoFornecedor, @Historico,
          @CodigoConta, @UltimoCheque, @CodigoCap, @CodigoFazenda, 2, 0)

   update Titulos set DataPagamento=@DataBaixa, ValorPago=@ValorTitulo, Pago=1
   where CodigoCap=@CodigoCap
  

if @@error<>0
   Rollback tran
else
   Commit


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spGerarChequeColetivo]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[spGerarChequeColetivo]
  @Nominativo VarChar(60),                          
  @DataBaixa DateTime,                      
  @ValorCheque Decimal(10,2),  
  @CodigoConta Int,                     
  @CodigoCheque Int Output
as
declare @NumeracaoCheque varchar(10)
declare @NumCheque int

begin tran

select @NumCheque=UltimoCheque + 1 from ContasBancarias where CodigoConta=@CodigoConta
select @NumeracaoCheque=right(''0000000000'' + cast(@NumCheque as varchar(10)), 10)

insert into Cheques values(@NumeracaoCheque,0,0,@Nominativo,@DataBaixa,null,@ValorCheque,@CodigoConta)
select @CodigoCheque=max(CodigoCheque) from Cheques
   
update ContasBancarias set UltimoCheque=@NumeracaoCheque where CodigoConta=@CodigoConta


if @@error<>0
   Rollback tran
else
   Commit' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spExcluirBanco]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
create procedure [dbo].[spExcluirBanco]
  @CodigoBanco SmallInt,
  @ret bit output
as
if exists(select * from MovimentoCaixa m 
          inner join ContasBancarias cta on cta.CodigoConta=m.CodigoConta
          inner join Agencias ag on ag.Agencia=cta.Agencia
          where ag.CodigoBanco=@CodigoBanco)
   select @ret=0
else
begin
   delete from Bancos where CodigoBanco=@CodigoBanco
   select @ret=1
end

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spAtualizarStatusImpressaoCheque]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
create procedure [dbo].[spAtualizarStatusImpressaoCheque] 
  @CodigoCheque Int
as
  update Cheques set Impresso=1 where CodigoCheque=@CodigoCheque
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spCancelarCheque]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[spCancelarCheque]
  @CodigoCheque int,
  @DataCancelamento DateTime
as

begin tran

update Titulos
set Pago=0,
    DataPagamento=null,
    ValorPago=0
where CodigoCap in (select CodigoCap from MovimentoCaixa where CodigoCheque=@CodigoCheque)

delete from MovimentoCaixa where CodigoCheque=@CodigoCheque

update Cheques 
set DataCancelamento=@DataCancelamento, Cancelado=1
where CodigoCheque=@CodigoCheque

if @@error<>0
   Rollback tran
else
   Commit
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spBaixarTituloDebitarContaNaoGerarCheque]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
create procedure [dbo].[spBaixarTituloDebitarContaNaoGerarCheque]
  @CodigoCap Int,                 
  @DataBaixa DateTime,
  @CodigoConta Int,
  @ValorTitulo Decimal(10,2)
as
declare @CodigoFornecedor int
declare @NomeFornecedor varchar(60)
declare @Historico varchar(100)
declare @CodigoFazenda smallint

begin tran

   select
   @NomeFornecedor=isnull(f.NomeFornecedor,''Nao localizado''),
   @CodigoFornecedor=t.CodigoFornecedor,
   @Historico=t.Historico,
   @CodigoFazenda=t.CodigoFazenda
   from Titulos t
   inner join Fornecedores f on f.CodigoFornecedor=t.CodigoFornecedor
   where t.CodigoCap=@CodigoCap

   insert into MovimentoCaixa
   values(@DataBaixa, @ValorTitulo, @CodigoFornecedor, @Historico,
          @CodigoConta, null, @CodigoCap, @CodigoFazenda, 2, 0)

   update Titulos 
   set DataPagamento=@DataBaixa, ValorPago=@ValorTitulo, Pago=1
   where CodigoCap=@CodigoCap
  

if @@error<>0
   Rollback tran
else
   Commit



' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spEstornarBaixaTitulo]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE procedure [dbo].[spEstornarBaixaTitulo]
  @CodigoCap int,
  @ret bit output
as

begin tran

  if exists (select * from MovimentoCaixa where CodigoCap=@CodigoCap and CodigoCheque is not null) begin  
     select @ret=0
  end
  else begin
     select @ret=1   
     update Titulos set Pago=0, DataPagamento=''1900-01-01 00:00:00.000'', ValorPago=0.00 where CodigoCap=@CodigoCap
     delete from MovimentoCaixa where CodigoCap=@CodigoCap
  end

if @@error<>0
   Rollback tran
else
   Commit
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spBaixarTituloDebitarContaComChequeColetivo]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
create procedure [dbo].[spBaixarTituloDebitarContaComChequeColetivo]
  @CodigoCap Int,
  @DataBaixa DateTime,
  @CodigoConta Int,
  @ValorTitulo Decimal(10,2),
  @CodigoCheque Int
as
--declare @NumeracaoCheque varchar(10)
--declare @NumCheque int
--declare @UltimoCheque int
declare @CodigoFornecedor int
declare @NomeFornecedor varchar(60)
declare @Historico varchar(100)
declare @CodigoFazenda smallint

begin tran

   select
   @NomeFornecedor=isnull(f.NomeFornecedor,''Nao localizado''),
   @CodigoFornecedor=t.CodigoFornecedor,
   @Historico=t.Historico,
   @CodigoFazenda=t.CodigoFazenda
   from Titulos t
   inner join Fornecedores f on f.CodigoFornecedor=t.CodigoFornecedor
   where t.CodigoCap=@CodigoCap

--   select @NumCheque=UltimoCheque + 1 from ContasBancarias where CodigoConta=@CodigoConta
--   select @NumeracaoCheque=right(''0000000000'' + cast(@NumCheque as varchar(10)), 10)

--   insert into Cheques values(@NumeracaoCheque,0,0,@Nominativo,@DataBaixa,null,@ValorTitulo,@CodigoConta)
--   select @UltimoCheque=max(CodigoCheque) from Cheques
   
--   update ContasBancarias set UltimoCheque=@NumeracaoCheque where CodigoConta=@CodigoConta

   insert into MovimentoCaixa
   values(@DataBaixa, @ValorTitulo, @CodigoFornecedor, @Historico,
          @CodigoConta, @CodigoCheque, @CodigoCap, @CodigoFazenda, 2, 0)

   update Titulos set DataPagamento=@DataBaixa, ValorPago=@ValorTitulo, Pago=1
   where CodigoCap=@CodigoCap
  

if @@error<>0
   Rollback tran
else
   Commit



' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spExcluirFormaPagamento]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[spExcluirFormaPagamento]
  @CodigoForma VarChar(2),
  @ret bit output
as
  if exists (select * from MovimentoCaixa where CodigoFormaPagamento=@CodigoForma)
     select @ret=0
  else
  begin
     delete from FormasPagamento where Codigo=@CodigoForma
     select @ret=1
  end

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spExcluirUsuario]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
create procedure [dbo].[spExcluirUsuario]
  @CodigoUsuario SmallInt
as 
  delete from Usuarios where Codigo=@CodigoUsuario
 

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spIncluirUsuario]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
create procedure [dbo].[spIncluirUsuario]
  @Senha VarChar(10),                
  @Usuario VarChar(20)
as 
  insert into Usuarios values(@Senha,@Usuario)
 

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spAlterarUsuario]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
create procedure [dbo].[spAlterarUsuario]
  @Senha VarChar(10),                
  @Usuario VarChar(20),
  @CodigoUsuario SmallInt
as 
  update Usuarios
  set Senha=@Senha,
      Usuario=@Usuario
  where Codigo=@CodigoUsuario
 

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarDadosUsuario]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE procedure [dbo].[spRetornarDadosUsuario]
  @CodigoUsuario SmallInt
as
  select
  isnull(senha,'''') as senha,
  isnull(usuario,'''') as usuario,
  Codigo as Cod
  from Usuarios
  where Codigo=@CodigoUsuario
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spAlterarAgencia]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
create procedure [dbo].[spAlterarAgencia]
  @NumeroAgencia VarChar(10),
  @Banco smallint,
  @CodigoAgencia smallint
as
update Agencias 
set Agencia=@NumeroAgencia,
    CodigoBanco=@Banco
where CodigoAgencia=@CodigoAgencia
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spIncluirAgencia]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
create procedure [dbo].[spIncluirAgencia]
  @NumeroAgencia VarChar(10),
  @Banco smallint  
as
insert into Agencias values(@NumeroAgencia, @Banco)

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarAgenciasDoBanco]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
create procedure [dbo].[spRetornarAgenciasDoBanco]  
  @Banco smallint  
as
select
  right(''0000'' + cast(CodigoAgencia as varchar(4)),4) as CodigoAgencia,
  Agencia as NumAgencia
from Agencias
where CodigoBanco=@Banco
order by Agencia

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spExcluirTitulo]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
create procedure [dbo].[spExcluirTitulo]
  @CodigoCap int
as
delete from Titulos where CodigoCap=@CodigoCap
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vwRptTitulosAbertoPorVencimento]'))
EXEC dbo.sp_executesql @statement = N'
CREATE view [dbo].[vwRptTitulosAbertoPorVencimento]
as
select
  right(''00'' + cast(t.CodigoFazenda as varchar(2)),2) as CodigoFazenda,
  isnull(fa.NomeFazenda,'''') as NomeFazenda,
  isnull(t.Documento,'''') as Titulo,
  t.CodigoTipoDocumento + '' - '' + td.DescricaoTipoDocumento as TipoDoc,
  t.Vencimento  as Venc,
  isnull(t.ValorOriginal,0.00) as ValorOriginal,
  isnull(left(f.NomeFornecedor,30),'''') as NomeFornec,
  isnull(t.Historico,'''') as Historico,
  cast(isnull(t.DataPagamento,''1900-01-01 00:00:00.000'') as DateTime) as DtPagto,
  isnull(t.ValorPago,0.00) as ValorPago,
  t.Pago as Pago  
  from Titulos t
  inner join Fazenda fa on fa.CodigoFazenda=t.CodigoFazenda
  inner join Fornecedores f on f.CodigoFornecedor=t.CodigoFornecedor
  inner join TiposDocumento td on td.Codigo=t.CodigoTipoDocumento
' 
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spIncluirTitulo]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE procedure [dbo].[spIncluirTitulo]
  @Documento VarChar(20),                
  @CodigoFornecedor Int,  
  @Vencimento DateTime,                
  @ValorOriginal Decimal(10,2),  
  @DataPagto DateTime,                
  @ValorPago Decimal(10,2),                
  @Historico VarChar(100),                
  @CodigoFazenda SmallInt,  
  @CodigoTipoDocumento VarChar(2)
as
insert into Titulos
values (@Documento,                
        @CodigoFornecedor,  
        @Vencimento,                
        @ValorOriginal,  
        ''1900-01-01 00:00:00.000'',                
        0.00,                
        @Historico,
        0,
        @CodigoFazenda,  
        @CodigoTipoDocumento)
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spAlterarTitulo]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[spAlterarTitulo]
  @Documento VarChar(20),                
  @CodigoFornecedor Int,  
  @Vencimento DateTime,                
  @ValorOriginal Decimal(10,2),  
  @DataPagto DateTime,                
  @ValorPago Decimal(10,2),                
  @Historico VarChar(100),                
  @CodigoFazenda SmallInt,  
  @CodigoTipoDocumento VarChar(2),
  @CodigoCap Int
as
update Titulos
set Documento=@Documento,                
    CodigoFornecedor=@CodigoFornecedor,  
    Vencimento=@Vencimento,                
    ValorOriginal=@ValorOriginal,  
    DataPagamento=@DataPagto,                
    ValorPago=@ValorPago,                
    Historico=@Historico,        
    CodigoFazenda=@CodigoFazenda,  
    CodigoTipoDocumento=@CodigoTipoDocumento
where CodigoCap=@CodigoCap' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarDadosTitulo]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[spRetornarDadosTitulo]
  @CodigoCap Int
as
select 
 t.Documento,                
 f.NomeFornecedor + '' - '' + right(''000000'' + cast(t.CodigoFornecedor as varchar(6)),6) as Fornecedor,
 t.Vencimento as Venc,                
 t.ValorOriginal as ValorOrig,  
 isnull(t.DataPagamento,''1900-01-01 00:00:00.000'') as DtPagto,                
 isnull(ValorPago,0.00) as ValorPg,                
 isnull(Historico,'''') as Hist,        
 right(''00'' + cast(t.CodigoFazenda as varchar(2)),2) + '' - '' + fa.NomeFazenda as Fazenda,  
 t.CodigoTipoDocumento + '' - '' + td.DescricaoTipoDocumento as TipoDocumento
from Titulos t
inner join TiposDocumento td on td.Codigo=t.CodigoTipoDocumento
inner join Fazenda fa on fa.CodigoFazenda=t.CodigoFazenda
inner join Fornecedores f on f.CodigoFornecedor=t.CodigoFornecedor
where t.CodigoCap=@CodigoCap' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spBaixarTituloNaoDebitarConta]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
create procedure [dbo].[spBaixarTituloNaoDebitarConta]  
  @CodigoCap Int,                 
  @DataBaixa DateTime
as
  update Titulos
  set DataPagamento=@DataBaixa,
      ValorPago=ValorOriginal,
      Pago=1      
  where CodigoCap=@CodigoCap

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarDadosFazenda]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarDadosFazenda]
  @CodigoFazenda SmallInt
as
  select
  isnull(NomeFazenda,'''') as NomeFazenda,
  isnull(Inscricao,'''') as Inscricao,
  isnull(Endereco,'''') as Endereco,
  isnull(Bairro,'''') as Bairro,
  isnull(Cidade,'''') as Cidade,
  isnull(Uf,'''') as UF,
  isnull(Cep,'''') as Cep,
  isnull(Responsavel,'''') as Responsavel,
  isnull(CpfResponsavel,'''') as CpfResponsavel,
  isnull(Telefone,'''') as Telefone,
  isnull(CaminhoRpt,'''') as CaminhoRpt
  from Fazenda
  where CodigoFazenda=@CodigoFazenda

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaFazendas]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[spRetornarListaFazendas]
as
  select
  right(''00'' + cast(CodigoFazenda as varchar(2)),2) as CodigoFazenda,
  isnull(NomeFazenda,'''') as NomeFazenda,
  isnull(Inscricao,'''') as Inscricao,
  isnull(Endereco,'''') as Endereco,
  isnull(Bairro,'''') as Bairro,
  isnull(Cidade,'''') as Cidade,
  isnull(Uf,'''') as UF,
  isnull(Cep,'''') as Cep,
  isnull(Responsavel,'''') as Responsavel,
  isnull(CpfResponsavel,'''') as CpfResponsavel
  from Fazenda
  order by NomeFazenda
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spIncluirFazenda]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE procedure [dbo].[spIncluirFazenda]
  @NomeFazenda VarChar(60),
  @Responsavel VarChar(40),
  @CpfResponsavel VarChar(11),
  @Endereco VarChar(50),
  @Bairro VarChar(40),
  @Cidade VarChar(30),
  @UF Char(2),
  @Cep Char(8),
  @Inscricao VarChar(12),
  @Telefone VarChar(15),                
  @CaminhoRpt VarChar(100)
as
  insert into Fazenda
  values (@NomeFazenda,
  @Responsavel,
  @CpfResponsavel,
  @Endereco,
  @Bairro,
  @Cidade,
  @UF,
  @Cep,
  @Inscricao,
  @CaminhoRpt,
  @Telefone)

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spAlterarFazenda]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE procedure [dbo].[spAlterarFazenda]
  @NomeFazenda VarChar(60),
  @Responsavel VarChar(40),
  @CpfResponsavel VarChar(11),
  @Endereco VarChar(50),
  @Bairro VarChar(40),
  @Cidade VarChar(30),
  @UF Char(2),
  @Cep Char(8),
  @Inscricao VarChar(12),
  @Telefone VarChar(15),                
  @CaminhoRpt VarChar(100),
  @CodigoFazenda SmallInt
as
  update Fazenda
  set NomeFazenda=@NomeFazenda,
  Responsavel=@Responsavel,
  CpfResponsavel=@CpfResponsavel,
  Endereco=@Endereco,
  Bairro=@Bairro,
  Cidade=@Cidade,
  Uf=@UF,
  Cep=@Cep,
  Inscricao=@Inscricao,
  CaminhoRpt=@CaminhoRpt,
  Telefone=@Telefone
  where CodigoFazenda=@CodigoFazenda


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spExcluirFazenda]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[spExcluirFazenda]  
  @CodigoFazenda SmallInt,
  @ret bit output
as
  if exists(select * from Titulos where CodigoFazenda=@CodigoFazenda)
     select @ret=0
  else
  begin
     delete from Fazenda where CodigoFazenda=@CodigoFazenda
     select @ret=1
  end
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarCaminhoRelatorios]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE procedure [dbo].[spRetornarCaminhoRelatorios]
as
select 
isnull(CaminhoRpt,'''') as CaminhoRpt,
isnull(NomeFazenda,'''') as Fazenda,
isnull(Telefone,'''') as Telefone
from Fazenda

 ' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vwFornecdores]'))
EXEC dbo.sp_executesql @statement = N'create view [dbo].[vwFornecdores]
as
select
 right(''0000'' + cast(CodigoFornecedor as varchar(4)),4) as CodFornecedor,
 isnull(NomeFornecedor,'''') as NomeFornecedor,
 isnull(Cnpj,'''') as Cnpj,
 Ativo 
 from Fornecedores
 ' 
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaFornecedores]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaFornecedores]
as
  select
  right(''000000'' + cast(CodigoFornecedor as varchar(6)),6) as CodFornecedor,
  isnull(NomeFornecedor,'''') as Fornecedor,
  isnull(Cnpj,'''') as Cnpj,
  At=case ativo
    when 0 then ''Não''
    when 1 then ''Sim''
  end
  from Fornecedores
  order by NomeFornecedor
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaFornecedores]') AND procedure_number = 2)
BEGIN
execute sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaFornecedores];2
  @texto VarChar(30)
as
  select
  right(''000000'' + cast(CodigoFornecedor as varchar(6)),6) as CodFornecedor,
  isnull(NomeFornecedor,'''') as Fornecedor,
  isnull(Cnpj,'''') as Cnpj,
  At=case ativo
    when 0 then ''Não''
    when 1 then ''Sim''
  end
  from Fornecedores
  where NomeFornecedor like @texto
  order by NomeFornecedor
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarDadosFornecedor]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE procedure [dbo].[spRetornarDadosFornecedor]
  @CodigoFornecedor Int
as
  select
  isnull(f.NomeFornecedor,'''') as Fornecedor,
  isnull(f.Cnpj,'''') as Cnpj,
  Tipo=case f.TipoFornecedor
    when 0 then ''0 - Pessoa Física''
    when 1 then ''1 - Pessoa Jurídica''
  end,
  isnull(f.Endereco,'''') as Endereco,
  isnull(f.Bairro,'''') as Bairro,
  isnull(f.Cidade,'''') as Cidade,
  isnull(f.Uf,'''') as UF,
  isnull(f.Cep,'''') as Cep,
  isnull(f.Email,'''') as Email,
  isnull(f.Banco + '' - '' + b.NomeBanco, null) as Banco,
  isnull(f.Agencia,'''') as Agencia,
  isnull(f.Contabancaria,'''') as Conta,
  cast(Ativo as bit) as bAtivo
  from Fornecedores f
  left outer join Bancos b on b.CodigoBanco=f.Banco
  where f.CodigoFornecedor=@CodigoFornecedor
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spIncluirFornecedor]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE procedure [dbo].[spIncluirFornecedor]
  @Fornecedor VarChar(60),                
  @Cnpj VarChar(14),
  @Tipo Bit,
  @Endereco VarChar(50),
  @Bairro VarChar(40),
  @Cidade VarChar(30),
  @Uf Char(2),
  @Cep Char(8),
  @Email VarChar(50),
  @Banco VarChar(3)=null,
  @Agencia VarChar(10)=null,
  @Conta VarChar(10)=null,
  @Ativo Bit  
as
  insert into Fornecedores
  values(@Fornecedor,                
         @Cnpj,
         @Tipo,
         @Endereco,
         @Bairro,
         @Cidade,
         @Uf,
         @Cep,
         @Email,
         @Banco,
         @Agencia,
         @Conta,
         @Ativo)
  


      

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spVerificarExistenciaMesmoCpf]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[spVerificarExistenciaMesmoCpf]
  @Cnpj VarChar(14),                
  @Existe Bit output
as
  if exists (select * from Fornecedores where Cnpj=@Cnpj)
     select @Existe=1
  else
     select @Existe=0
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spAlterarFornecedor]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE procedure [dbo].[spAlterarFornecedor]
  @Fornecedor VarChar(60),                
  @Cnpj VarChar(14),
  @Tipo Bit,
  @Endereco VarChar(50),
  @Bairro VarChar(40),
  @Cidade VarChar(30),
  @Uf Char(2),
  @Cep Char(8),
  @Email VarChar(50),
  @Banco VarChar(3)=null,
  @Agencia VarChar(10)=null,
  @Conta VarChar(10)=null,
  @Ativo Bit,
  @CodigoFornecedor Int  
as
  update Fornecedores
  set NomeFornecedor=@Fornecedor,                
      Cnpj=@Cnpj,
      TipoFornecedor=@Tipo,
      Endereco=@Endereco,
      Bairro=@Bairro,
      Cidade=@Cidade,
      Uf=@Uf,
      Cep=@Cep,
      Email=@Email,
      Banco=@Banco,
      Agencia=@Agencia,
      ContaBancaria=@Conta,
      Ativo=@Ativo
  where CodigoFornecedor=@CodigoFornecedor
  


      

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spExcluirFornecedor]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE procedure [dbo].[spExcluirFornecedor]
  @CodigoFornecedor Int,
  @ret bit output
as
  if not exists(select * from Titulos where CodigoFornecedor=@CodigoFornecedor)
  begin
     delete from Fornecedores where CodigoFornecedor=@CodigoFornecedor
     select @ret=1
  end
  else
     select @ret=0
  


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaTipoDocumento]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[spRetornarListaTipoDocumento]
as
select
 Codigo,
 DescricaoTipoDocumento
from TiposDocumento
order by Codigo' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spIncluirTipoDocumento]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[spIncluirTipoDocumento]
  @CodigoTipo VarChar(2),
  @Tipo VarChar(30),
  @ret Bit output
as
if exists (select * from TiposDocumento where Codigo=@CodigoTipo)
   select @ret=0
else
begin
   insert into TiposDocumento values (@CodigoTipo, @Tipo)   
   select @ret=1
end
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spAlterarTipoDocumento]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[spAlterarTipoDocumento]
  @CodigoTipo VarChar(2),
  @Tipo VarChar(30)  
as

  update TiposDocumento 
  Set DescricaoTipoDocumento=@Tipo
  where Codigo=@CodigoTipo

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spExcluirTipoDocumento]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[spExcluirTipoDocumento]
  @CodigoTipo VarChar(2),
  @ret bit output
as
  if exists (select * from Titulos where CodigoTipoDocumento=@CodigoTipo)
     select @ret=0
  else
  begin
     delete from TiposDocumento where Codigo=@CodigoTipo
     select @ret=1
  end

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spAlterarFormaPagamento]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
create procedure [dbo].[spAlterarFormaPagamento]
  @CodigoForma VarChar(2),
  @Forma VarChar(40)  
as

  update FormasPagamento
  Set FormaPagamento=@Forma
  where Codigo=@CodigoForma


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spIncluirFormaPagamento]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
create procedure [dbo].[spIncluirFormaPagamento]
  @CodigoForma VarChar(2),
  @Forma VarChar(40),
  @ret Bit output
as
if exists (select * from FormasPagamento where Codigo=@CodigoForma)
   select @ret=0
else
begin
   insert into FormasPagamento values (@CodigoForma, @Forma)   
   select @ret=1
end

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaFormasPagamento]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
create procedure [dbo].[spRetornarListaFormasPagamento]
as
select
 Codigo,
 FormaPagamento
from FormasPagamento
order by Codigo
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaBanco]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarListaBanco]
as
select
right(''000'' + cast(CodigoBanco as varchar(3)),3) as Codigobanco,
isnull(Nomebanco,'''') as Banco
from Bancos
Order by CodigoBanco

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spSalvarBanco]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[spSalvarBanco]
  @CodigoBanco SmallInt,
  @NomeBanco VarChar(40)
as
if exists(select * from Bancos where Codigobanco=@CodigoBanco)
   update Bancos set NomeBanco=@Nomebanco where CodigoBanco=@CodigoBanco
else
   insert Bancos values (@CodigoBanco, @NomeBanco)

' 
END
