/* For security reasons the login is created disabled and with a random password. */
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'sac')
CREATE LOGIN [sac] WITH PASSWORD=N'«ßü©sXù,/Ä¬ì¶ B¸Áªg~\Å2', DEFAULT_DATABASE=[SAC], DEFAULT_LANGUAGE=[Português (Brasil)], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [sac] DISABLE
GO
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'EDUNOTE\SQLServer2005SQLAgentUser$EDUNOTE$MSSQLSERVER')
CREATE LOGIN [EDUNOTE\SQLServer2005SQLAgentUser$EDUNOTE$MSSQLSERVER] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'EDUNOTE\SQLServer2005MSSQLUser$EDUNOTE$MSSQLSERVER')
CREATE LOGIN [EDUNOTE\SQLServer2005MSSQLUser$EDUNOTE$MSSQLSERVER] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'EDUNOTE\SQLServer2005MSFTEUser$EDUNOTE$MSSQLSERVER')
CREATE LOGIN [EDUNOTE\SQLServer2005MSFTEUser$EDUNOTE$MSSQLSERVER] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'BUILTIN\Administradores')
CREATE LOGIN [BUILTIN\Administradores] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'AUTORIDADE NT\SYSTEM')
CREATE LOGIN [AUTORIDADE NT\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/* For security reasons the login is created disabled and with a random password. */
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'agend')
CREATE LOGIN [agend] WITH PASSWORD=N'Ã.i£7mé6BÃP/éßóËgã¢¨G®F', DEFAULT_DATABASE=[AGENDA], DEFAULT_LANGUAGE=[Português (Brasil)], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER LOGIN [agend] DISABLE
GO
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'agend')
CREATE USER [agend] FOR LOGIN [agend] WITH DEFAULT_SCHEMA=[dbo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spImpExpObterEstrutura]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE procedure [dbo].[spImpExpObterEstrutura] 
as 
select 
  cast(o.name as varchar(40)) Tabela, 
  cast(c.name as varchar(50)) Campo, 
  cast(t.name as varchar(40)) as ''Tipo de dado'', 
  c.length Tamanho, 
  c.xprec Precisao, 
  c.xscale Escala
 from sysobjects o 
 inner join syscolumns c 
 on o.id=c.id 
 inner join systypes t 
 on c.xusertype=t.xusertype 
 where o.type=''u'' and o.name <> ''dtproperties'' 
 order by o.name


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Contato]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Contato](
	[CodigoContato] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](40) NULL,
	[Endereco] [varchar](50) NULL,
	[Bairro] [varchar](30) NULL,
	[Cidade] [varchar](30) NULL,
	[Uf] [char](2) NULL,
	[Cep] [char](8) NULL,
	[FoneComercial] [varchar](15) NULL,
	[FoneCelular] [varchar](15) NULL,
	[FoneResidencial] [varchar](15) NULL,
	[Site] [varchar](70) NULL,
	[Email] [varchar](70) NULL,
	[PessoaContato] [varchar](60) NULL,
	[Atividade] [varchar](60) NULL,
	[Observacoes] [varchar](200) NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Usuario](
	[CodigoUsuario] [varchar](8) NOT NULL,
	[Nome] [varchar](20) NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vwContatos]'))
EXEC dbo.sp_executesql @statement = N'

create view [dbo].[vwContatos]
as
select 
 right(''0000'' + cast(CodigoContato as varchar(4)),4) as Codigo,
 Nome as NomeContato,
 FoneComercial as FoneCom,
 FoneCelular as FoneCel,
 FoneResidencial as FoneRes
from contato
--order by nomecontato


' 
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vwLerContatos]'))
EXEC dbo.sp_executesql @statement = N'
create view [dbo].[vwLerContatos]
as
 select
    Nome as Nome,
    Endereco as Ender,
    Bairro as Bairro,
    Cidade as Cid,
    Uf as Uf,
    Cep as Cep,
    FoneComercial as FoneCom,
    FoneCelular as FoneCel,
    FoneResidencial as FoneRes,
    Site as PaginaWeb,
    Email as EnderElet,
    PessoaContato as Contato,
    Atividade as Atividade,
    Observacoes as Obs
 from Contato

' 
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spAlterarContato]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE procedure [dbo].[spAlterarContato]
  @Nome as varchar(40),
  @Endereco as varchar(50),
  @Bairro as varchar(30),
  @Cidade as varchar(30),
  @Uf as char(2),
  @Cep as char(8),
  @FoneComercial as varchar(15),
  @FoneCelular as varchar(15),
  @FoneResidencial as varchar(15),
  @WWW as varchar(70),
  @Email as varchar(70),
  @PessoaContato as varchar(30),
  @Atividade as varchar(30),
  @Obs as varchar(200),
  @CodigoContato as int
as
  update Contato
  Set Nome=@Nome,Endereco=@Endereco,Bairro=@Bairro,Cidade=@Cidade,Uf=@Uf,
      Cep=@Cep,FoneComercial=@FoneComercial,FoneCelular=@FoneCelular,
      FoneResidencial=@FoneResidencial,Site=@WWW,Email=@Email,
      PessoaContato=@PessoaContato,Atividade=@Atividade,
     Observacoes=@Obs
  where CodigoContato=@CodigoContato








' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spIncluirContato]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE procedure [dbo].[spIncluirContato]
  @Nome as varchar(40),
  @Endereco as varchar(50),
  @Bairro as varchar(30),
  @Cidade as varchar(30),
  @Uf as char(2),
  @Cep as char(8),
  @FoneComercial as varchar(15),
  @FoneCelular as varchar(15),
  @FoneResidencial as varchar(15),
  @WWW as varchar(70),
  @Email as varchar(70),
  @PessoaContato as varchar(60),
  @Atividade as varchar(60),
  @Obs as varchar(200)
as
  insert into Contato(Nome,Endereco,Bairro,Cidade,Uf,Cep,FoneComercial,
                      FoneCelular,FoneResidencial,Site,Email,
                      PessoaContato,Atividade,Observacoes)
  Values(@Nome,@Endereco,@Bairro,@Cidade,@Uf,@Cep,@FoneComercial,
         @FoneCelular,@FoneResidencial,@WWW,@Email,@PessoaContato,
         @Atividade,@Obs)

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarDadosDeContato]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE procedure [dbo].[spRetornarDadosDeContato]
  @CodigoContato as int
as
  select 
  right(''000000''+cast(CodigoContato as varchar(6)),6) As CodigoContato,
  isnull(Nome,'''') as Nome,
  isnull(Endereco,'''') as Endereco,
  isnull(Bairro,'''') as Bairro,
  isnull(Cidade,'''') as Cidade,
  isnull(Uf,'''') as Uf, 
  isnull(Cep,'''') as Cep, 
  isnull(FoneComercial,'''') as FoneCom,
  isnull(FoneCelular,'''') as FoneCel,
  isnull(FoneResidencial,'''') as FoneRes,
  isnull(Site,'''') as Site,
  isnull(Email,'''') as Email,
  isnull(PessoaContato,'''') as PessoaContato,
  isnull(Atividade,'''') as Atividade,
  isnull(Observacoes,'''') as Obs
  from Contato
  where CodigoContato=@CodigoContato 


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaDeContato]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE procedure [dbo].[spRetornarListaDeContato]
as
  select right( ''000000'' + cast(CodigoContato as varchar(6)),6) As CodigoContato,
  Nome,
  FoneComercial,
  FoneCelular,
  FoneResidencial,
  Endereco,
  Bairro,
  Cidade,
  Uf,
  Cep,
  PessoaContato,
  Atividade,
  Site,
  Email,
  Observacoes
  from Contato
  order by Nome


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaDeContato]') AND procedure_number = 2)
BEGIN
execute sp_executesql @statement = N'CREATE procedure [dbo].[spRetornarListaDeContato];2
  @Parametro as varchar(40)
as
  select right( ''000000'' + cast(CodigoContato as varchar(6)),6) As CodigoContato,
  Nome,
  FoneComercial,
  FoneCelular,
  FoneResidencial,
  Endereco,
  Bairro,
  Cidade,
  Uf,
  Cep,
  PessoaContato,
  Atividade,
  Site,
  Email,
  Observacoes
  from Contato
  where Nome like @Parametro
  order by Nome
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.numbered_procedures WHERE object_id = OBJECT_ID(N'[dbo].[spRetornarListaDeContato]') AND procedure_number = 3)
BEGIN
execute sp_executesql @statement = N'


CREATE procedure [dbo].[spRetornarListaDeContato];3
  @Codigo int
as
  select 
   Nome,
   FoneComercial,
   FoneCelular,
   FoneResidencial,
   Endereco,
   Bairro,
   Cidade,
   Uf,
   Cep,
   PessoaContato,
   Atividade,
   Site,
   Email,
   Observacoes
  from Contato
  where CodigoContato = @Codigo


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spExcluirContato]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


create procedure [dbo].[spExcluirContato]
  @CodigoContato as int
as
  delete from Contato
  where CodigoContato=@CodigoContato




' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spGravarLinhaImportada]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE procedure [dbo].[spGravarLinhaImportada]
  @Nome VarChar(40),
  @FoneComercial VarChar(15),
  @FoneCelular VarChar(15),
  @FoneResidencial VarChar(15),
  @Endereco VarChar(50),
  @Bairro VarChar(30),
  @Cidade VarChar(30),
  @UF VarChar(2),
  @Cep VarChar(8),
  @Contato VarChar(50),
  @Atividade VarChar(60),
  @Site VarChar(70),
  @Email VarChar(70),
  @Obs VarChar(200)
as
  insert into Contato
  values (@Nome,
          @Endereco,
          @Bairro,
          @Cidade,
          @UF,
          @Cep,
          @FoneComercial,
          @FoneCelular,
          @FoneResidencial,
          @Site,
          @Email,
          @Contato,
          @Atividade,
          @Obs)



' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spZerarTabelaContatos]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

create procedure [dbo].[spZerarTabelaContatos]
as
  delete from Contato


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spVerificarSenha]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE procedure [dbo].[spVerificarSenha]
   @Parametro varchar(8),
   @Existe bit output
as
   select @Existe=Count(*)
   from Usuario
   where CodigoUsuario = @Parametro





' 
END
