USE [Agenda]
GO
/****** Object:  Role [agendaacessos]    Script Date: 05/22/2012 13:03:49 ******/
CREATE ROLE [agendaacessos] AUTHORIZATION [dbo]
GO
/****** Object:  Table [dbo].[Contato]    Script Date: 05/22/2012 13:03:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contato](
	[CodigoContato] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](40) NULL,
	[Endereco] [varchar](50) NULL,
	[Bairro] [varchar](30) NULL,
	[Cidade] [varchar](30) NULL,
	[Uf] [char](2) NULL,
	[Cep] [char](8) NULL,
	[FoneComercial] [varchar](15) NULL,
	[FoneCelular] [varchar](15) NULL,
	[FoneResidencial] [varchar](15) NULL,
	[Site] [varchar](70) NULL,
	[Email] [varchar](70) NULL,
	[PessoaContato] [varchar](60) NULL,
	[Atividade] [varchar](60) NULL,
	[Observacoes] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[spImpExpObterEstrutura]    Script Date: 05/22/2012 13:03:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE procedure [dbo].[spImpExpObterEstrutura] 
as 
select 
  cast(o.name as varchar(40)) Tabela, 
  cast(c.name as varchar(50)) Campo, 
  cast(t.name as varchar(40)) as 'Tipo de dado', 
  c.length Tamanho, 
  c.xprec Precisao, 
  c.xscale Escala
 from sysobjects o 
 inner join syscolumns c 
 on o.id=c.id 
 inner join systypes t 
 on c.xusertype=t.xusertype 
 where o.type='u' and o.name <> 'dtproperties' 
 order by o.name
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 05/22/2012 13:03:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[CodigoUsuario] [varchar](8) NOT NULL,
	[Nome] [varchar](20) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[vwRetonarDadosContato]    Script Date: 05/22/2012 13:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE view [dbo].[vwRetonarDadosContato]
as
select
    CodigoContato as Codigo,
    isnull(Nome,'') as Nome,
    isnull(Endereco,'') as Ender,
    isnull(Bairro,'') as Bairro,
    isnull(Cidade,'') as Cid,
    isnull(Uf,'') as Uf,
    isnull(Cep,'') as Cep,
    isnull(FoneComercial,'') as FoneCom,
    isnull(FoneCelular,'') as FoneCel,
    isnull(FoneResidencial,'') as FoneRes,
    isnull(Site,'') as PaginaWeb,
    isnull(Email,'') as EnderElet,
    isnull(PessoaContato,'') as Contato,
    isnull(Atividade,'') as Atividade,
    isnull(Observacoes,'') as Obs
 from Contato
GO
/****** Object:  View [dbo].[vwLerContatos]    Script Date: 05/22/2012 13:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create view [dbo].[vwLerContatos]
as
 select
    Nome as Nome,
    Endereco as Ender,
    Bairro as Bairro,
    Cidade as Cid,
    Uf as Uf,
    Cep as Cep,
    FoneComercial as FoneCom,
    FoneCelular as FoneCel,
    FoneResidencial as FoneRes,
    Site as PaginaWeb,
    Email as EnderElet,
    PessoaContato as Contato,
    Atividade as Atividade,
    Observacoes as Obs
 from Contato
GO
/****** Object:  View [dbo].[vwContatos]    Script Date: 05/22/2012 13:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE view [dbo].[vwContatos]
as
select 
 right('0000' + cast(CodigoContato as varchar(4)),4) as Codigo,
 isnull(Nome,'') as NomeContato,
 isnull(FoneComercial,'') as FoneCom,
 isnull(FoneCelular,'') as FoneCel,
 isnull(FoneResidencial,'') as FoneRes,
 isnull(Atividade,'') as Atividade
from contato
--order by nomecontato
GO
/****** Object:  StoredProcedure [dbo].[spZerarTabelaContatos]    Script Date: 05/22/2012 13:03:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create procedure [dbo].[spZerarTabelaContatos]
as
  delete from Contato
GO
/****** Object:  StoredProcedure [dbo].[spVerificarSenha]    Script Date: 05/22/2012 13:03:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spVerificarSenha]
   @Parametro varchar(8),
   @Existe bit output
as
   select @Existe=Count(*)
   from Usuario
   where CodigoUsuario = @Parametro
GO
/****** Object:  StoredProcedure [dbo].[spRetornarListaDeContato]    Script Date: 05/22/2012 13:03:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE procedure [dbo].[spRetornarListaDeContato]
as
  select right( '000000' + cast(CodigoContato as varchar(6)),6) As CodigoContato,
  Nome,
  FoneComercial,
  FoneCelular,
  FoneResidencial,
  Endereco,
  Bairro,
  Cidade,
  Uf,
  Cep,
  PessoaContato,
  Atividade,
  Site,
  Email,
  Observacoes
  from Contato
  order by Nome
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE procedure [dbo].[spRetornarListaDeContato];2
  @Parametro as varchar(40)
as
  select right( '000000' + cast(CodigoContato as varchar(6)),6) As CodigoContato,
  Nome,
  FoneComercial,
  FoneCelular,
  FoneResidencial,
  Endereco,
  Bairro,
  Cidade,
  Uf,
  Cep,
  PessoaContato,
  Atividade,
  Site,
  Email,
  Observacoes
  from Contato
  where Nome like @Parametro
  order by Nome
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE procedure [dbo].[spRetornarListaDeContato];3
  @Codigo int
as
  select 
   Nome,
   FoneComercial,
   FoneCelular,
   FoneResidencial,
   Endereco,
   Bairro,
   Cidade,
   Uf,
   Cep,
   PessoaContato,
   Atividade,
   Site,
   Email,
   Observacoes
  from Contato
  where CodigoContato = @Codigo
GO
/****** Object:  StoredProcedure [dbo].[spRetornarDadosDeContato]    Script Date: 05/22/2012 13:03:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE procedure [dbo].[spRetornarDadosDeContato]
  @CodigoContato as int
as
  select 
  right('000000'+cast(CodigoContato as varchar(6)),6) As CodigoContato,
  isnull(Nome,'') as Nome,
  isnull(Endereco,'') as Endereco,
  isnull(Bairro,'') as Bairro,
  isnull(Cidade,'') as Cidade,
  isnull(Uf,'') as Uf, 
  isnull(Cep,'') as Cep, 
  isnull(FoneComercial,'') as FoneCom,
  isnull(FoneCelular,'') as FoneCel,
  isnull(FoneResidencial,'') as FoneRes,
  isnull(Site,'') as Site,
  isnull(Email,'') as Email,
  isnull(PessoaContato,'') as PessoaContato,
  isnull(Atividade,'') as Atividade,
  isnull(Observacoes,'') as Obs
  from Contato
  where CodigoContato=@CodigoContato
GO
/****** Object:  StoredProcedure [dbo].[spIncluirContato]    Script Date: 05/22/2012 13:03:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spIncluirContato]
  @Nome as varchar(40),
  @Endereco as varchar(50),
  @Bairro as varchar(30),
  @Cidade as varchar(30),
  @Uf as char(2),
  @Cep as char(8),
  @FoneComercial as varchar(15),
  @FoneCelular as varchar(15),
  @FoneResidencial as varchar(15),
  @WWW as varchar(70),
  @Email as varchar(70),
  @PessoaContato as varchar(60),
  @Atividade as varchar(60),
  @Obs as varchar(200)
as
  insert into Contato(Nome,Endereco,Bairro,Cidade,Uf,Cep,FoneComercial,
                      FoneCelular,FoneResidencial,Site,Email,
                      PessoaContato,Atividade,Observacoes)
  Values(@Nome,@Endereco,@Bairro,@Cidade,@Uf,@Cep,@FoneComercial,
         @FoneCelular,@FoneResidencial,@WWW,@Email,@PessoaContato,
         @Atividade,@Obs)
GO
/****** Object:  StoredProcedure [dbo].[spGravarLinhaImportada]    Script Date: 05/22/2012 13:03:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE procedure [dbo].[spGravarLinhaImportada]
  @Nome VarChar(40),
  @FoneComercial VarChar(15),
  @FoneCelular VarChar(15),
  @FoneResidencial VarChar(15),
  @Endereco VarChar(50),
  @Bairro VarChar(30),
  @Cidade VarChar(30),
  @UF VarChar(2),
  @Cep VarChar(8),
  @Contato VarChar(50),
  @Atividade VarChar(60),
  @Site VarChar(70),
  @Email VarChar(70),
  @Obs VarChar(200)
as
  insert into Contato
  values (@Nome,
          @Endereco,
          @Bairro,
          @Cidade,
          @UF,
          @Cep,
          @FoneComercial,
          @FoneCelular,
          @FoneResidencial,
          @Site,
          @Email,
          @Contato,
          @Atividade,
          @Obs)
GO
/****** Object:  StoredProcedure [dbo].[spExcluirContato]    Script Date: 05/22/2012 13:03:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create procedure [dbo].[spExcluirContato]
  @CodigoContato as int
as
  delete from Contato
  where CodigoContato=@CodigoContato
GO
/****** Object:  StoredProcedure [dbo].[spAlterarContato]    Script Date: 05/22/2012 13:03:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE procedure [dbo].[spAlterarContato]
  @Nome as varchar(40),
  @Endereco as varchar(50),
  @Bairro as varchar(30),
  @Cidade as varchar(30),
  @Uf as char(2),
  @Cep as char(8),
  @FoneComercial as varchar(15),
  @FoneCelular as varchar(15),
  @FoneResidencial as varchar(15),
  @WWW as varchar(70),
  @Email as varchar(70),
  @PessoaContato as varchar(30),
  @Atividade as varchar(30),
  @Obs as varchar(200),
  @CodigoContato as int
as
  update Contato
  Set Nome=@Nome,Endereco=@Endereco,Bairro=@Bairro,Cidade=@Cidade,Uf=@Uf,
      Cep=@Cep,FoneComercial=@FoneComercial,FoneCelular=@FoneCelular,
      FoneResidencial=@FoneResidencial,Site=@WWW,Email=@Email,
      PessoaContato=@PessoaContato,Atividade=@Atividade,
     Observacoes=@Obs
  where CodigoContato=@CodigoContato
GO
